p
{
    background-color: transparent;
    color: white;
    font-family: arial;
    font-size: 18pt;
}

p.halloween
{
    color: orange;
    background-color: black;
}

p.heading
{
    background-color: transparent;
    color: red;
    font-family: consolas;
    font-size: 24pt;
}

body
{
    //background-color: red;
    background-image: url(../slideshow/image5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a
{
    background-color: blue;
    color: red;
}

a:hover
{
    background-color: red;
    color: blue;
}
