
p
{
    background-color: blue;
    color: red;
    font-family: consolas;
    font-size: 16pt;
}

button
{
    background-color: blue;
    color: red;
}

button:hover
{
    background-color: red;
    color: blue;
}

p.heading
{
    background-color: transparent;
    color: red;
    font-family: consolas;
    font-size: 24pt;
}
