
p
{
    background-color: blue;
    color: red;
    font-family: consolas;
    font-size: 16pt;
}

a
{
    background-color: blue;
    color: red;
}

a:hover
{
    background-color: red;
    color: blue;
}
